<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}
</style>
</head>
<body>

<table>
  <tr><th>HOSTNAME</th><th>MODEL</th><th>MGMT IP</th><th>SOFTWARE VERSION</th><th>SOFTWARE IMAGE</th><th>SERIAL NUMBER</th> </tr>
</table>

</body>
</html>
